bin
bin/*
obj
obj/*
/BrownFit_Thanara/.vs
/BrownFit_Thanara/.vs/*
/BrownFit_Thanara/BrownFit_Thanara.WebUI/ApplicationInsights.config
/BrownFit_Thanara/BrownFit_Thanara.Models/BrownFit_Thanara.Models.csproj.user
/BrownFit_Thanara/BrownFit_Thanara.DataAccess/BrownFit_Thanara.DataAccess.csproj.user
/BrownFit_Thanara/BrownFit_Thanara.WebUI/BrownFit_Thanara.WebUI.csproj.user
/BrownFit_Thanara/BrownFit_Thanara.WebUI/bin
/BrownFit_Thanara/BrownFit_Thanara.WebUI/bin/*
/BrownFit_Thanara/BrownFit_Thanara.WebUI/bin/Debug
/BrownFit_Thanara/BrownFit_Thanara.WebUI/bin/Debug/*.dll
/BrownFit_Thanara/BrownFit_Thanara.WebUI/bin/Release
/BrownFit_Thanara/BrownFit_Thanara.WebUI/obj
/BrownFit_Thanara/BrownFit_Thanara.WebUI/obj/*
/BrownFit_Thanara/BrownFit_Thanara.Models/bin
/BrownFit_Thanara/BrownFit_Thanara.Models/bin/*
/BrownFit_Thanara/BrownFit_Thanara.Models/obj
/BrownFit_Thanara/BrownFit_Thanara.Models/obj/*
/BrownFit_Thanara/BrownFit_Thanara.DataAccess/bin
/BrownFit_Thanara/BrownFit_Thanara.DataAccess/bin/Debug/*.dll
/BrownFit_Thanara/BrownFit_Thanara.DataAccess/bin/Debug/*.pdb
/BrownFit_Thanara/BrownFit_Thanara.DataAccess/bin/Release/*
/BrownFit_Thanara/BrownFit_Thanara.DataAccess/bin/Release/*.dll
/BrownFit_Thanara/BrownFit_Thanara.DataAccess/bin/Release/*.pdb
/BrownFit_Thanara/BrownFit_Thanara.DataAccess/obj
/BrownFit_Thanara/BrownFit_Thanara.DataAccess/obj/*
/BrownFit_Thanara/BrownFit_Thanara.WebUI/*.user
/BrownFit_Thanara/BrownFit_Thanara.Models/*.user
/BrownFit_Thanara/BrownFit_Thanara.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
BrownFit_Thanara.DataAccess.csproj.user
*.user
.vs
BrownFit_Thanara.Models.csproj.user
/BrownFit_Thanara/SENAI.BrownFit_Thanara.Data/SENAI.BrownFit_Thanara.Data.csproj.user
/BrownFit_Thanara/SENAI.BrownFit_Thanara.Data/bin
/BrownFit_Thanara/SENAI.BrownFit_Thanara.Data/obj
/BrownFit_Thanara/SENAI.BrownFit_Thanara.Dominio/obj
/BrownFit_Thanara/SENAI.BrownFit_Thanara.Models/obj
/BrownFit_Thanara/SENAI.BrownFit_Thanara.Models/bin
/BrownFit_Thanara/SENAI.BrownFit_Thanara.UI.Site/SENAI.BrownFit_Thanara.UI.Site.csproj.user
/BrownFit_Thanara/SENAI.BrownFit_Thanara.UI.Site/bin
/BrownFit_Thanara/SENAI.BrownFit_Thanara.UI.Site/obj
/BrownFit_Thanara/SENAI.BrownFit_Thanara.Util/obj
/BrownFit_Thanara/SENAI.BrownFit_Thanara.Util/bin
/SENAI.CadastroPerfil.UI.Site/SENAI.CadastroPerfil.UI.Site/.vs
/SENAI.CadastroPerfil.UI.Site/SENAI.CadastroPerfil.UI.Site/SENAI.CadastroPerfil.UI.Site/SENAI.CadastroPerfil.UI.Site.csproj.user
/SENAI.CadastroPerfil.UI.Site/SENAI.CadastroPerfil.UI.Site/SENAI.CadastroPerfil.UI.Site/bin
/SENAI.CadastroPerfil.UI.Site/SENAI.CadastroPerfil.UI.Site/SENAI.CadastroPerfil.UI.Site/obj
*.xlsx
