<h2>Sobre o BrownFit</h2>

<div class="row">
    <div class="col-md-12">
            <p>
                O BrownFit surgiu de um projeto acadêmico de conclusão de curso, onde nos foi solicitado para teste de nossos conhecimentos técnicos um projeto de tema livre.
            </p>
            <p>
                A minha ideia/tema surgiu da necessidade de um melhor gerenciamento de academias, visto que no local onde frequento para me exercitar ainda consiste em tudo de forma manual, sem informática, o que me deixou pasma, quando tive que preencher uma ficha toda e essa apenas foi para uma pasta de “arquivo” do aluno. Imaginando a dificuldade de encontrar o registro de um aluno, e manter o controle de resultados do mesmo, vi ali a necessidade de um software.
            <p>
                O meu sistema veio para o auxilio nesse gerenciamento de academias, de forma simples e fácil.
            </p>
    </div>
</div>