@model SENAI.BrownFit_Thanara.Models.Aluno

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuPrincipal</title>
</head>
<body>
    <div class="container">
        <h2>Menu Principal</h2>
        <div class="panel-group">

            <dl class="dl-horizontal">
                <dt>
                    @Html.Label("Alunos")
                    <a href="~/Views/Alunos/Details.cshtml">
                        <img src="~/Images/alunos.png" alt="Alunos" style="width:42px;height:42px;border:0;">
                    </a>
                </dt>

                <dd>
                    @Html.ActionLink(
                    "Alunos",
                    "Index",                         // controller action
                    "ReviewPendingApprovals",        // controller
                    new { Model },         // action parameters aka route values
                    new { @class = "btn btn-info" }) // html attributes
                </dd>

            </dl>

            <div class="panel panel-default">
                <a href="default.asp">
                    <img src="~/Images/agenda.png" alt="Agenda" style="width:42px;height:42px;border:0;">
                </a>

                <div class="panel panel-default">
                </div>
                <a href="default.asp">
                    <img src="~/Images/grafico.png" alt="Relatorios" style="width:42px;height:42px;border:0;">
                </a>
            </div>
            <div class="panel panel-default">
                <a href="~/Views/Alunos/Details.cshtml">
                    <img src="~/Images/alunos.png" alt="Alunos" style="width:42px;height:42px;border:0;">
                </a>
            </div>
        </div>
    </div>

</body>
</html>
