@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Sofware.</h2>
<h3>@ViewBag.Conceito</h3>

<p>Neste trabalho será introduzido o software Brown Fit, criado para fins
acadêmicos relacionado ao curso Técnico de Informática da unidade SENAI Portão.
O objetivo deste site é auxiliar o processo execução funcional de uma
academia, melhorando assim a relação entre personal trainer e aluno. Trazendo
uma nova ferramenta tecnológica a esse mercado de trabalho.</p>
